<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>

<!-- partial:index.partial.html -->
<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
  <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
  <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
    <img
         class="rounded-pill img-fluid"
         width="65"
         src="/assets/img/12345.png"
         alt="">
    <div class="ms-2">
      <h5 class="fs-6 mb-0">
        <a class="text-decoration-none" href="#">{{ user.username }}</a>
      </h5>
      <p class="mt-1 mb-0">Welcome to our Website, {{ user.username }}! </p>
    </div>
  </div>

  <div class="search position-relative text-center px-4 py-3 mt-2">
    <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here">
    <i class="fa fa-search position-absolute d-block fs-6"></i>
  </div>

  <ul class="categories list-unstyled">
    <li>
      <i class="material-icons">dashboard</i><a href="{% url 'home' %}"> Dashboard</a>
      <li>
        <i class="material-icons">insert_chart</i><a href="{% url 'tables' %}"> Tables</a>
      </li>
    <li>
      <i class="material-icons">collections_bookmark</i><a href="{% url 'bookmark' %}"> Bookmark</a>
    </li>
    <li>
      <i class="material-icons">notifications</i><a href="#"> Notification</a>
    </li>
    <li class="has-dropdown" >
      <i class="material-icons">account_box</i><a href="#"> Account</a>
        <ul class="sidebar-dropdown list-unstyled">
          <li><a href="#"> Profile Setting</a> </li>
          <li><a href="{% url 'logout' %}"> Sign-out</a> 
          </li>
        </ul>
      </li>
  </ul>
</aside>
